MONGODB_URI=your_mongodb_altis_uri(mongodb_srv://...)
SMTP_HOST=your_sender_server address
SMTP_PORT=your_sender_server_port
SMTP_USER=your_sender_email_addr
SMTP_PWD=your_sender_email_application_passwords(need to register, not logon pwd)
